In [24]:
import pandas as pd
import glob
import os

In [25]:
# Define path for tables
data_path ='C:/Users/Kai/PycharmProjects/Fitness-EDA/College_Basketball/College Stats'

In [26]:
# Storage
dfs = []

for file in os.listdir(data_path):
    if file.endswith(".csv"):
        file_path = os.path.join(data_path, file)
        df = pd.read_csv(file_path)
        dfs.append(df)

In [27]:
merged_df = pd.concat(dfs, axis=0)

In [29]:
merged_df

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,RK,EFGD_D,EFG%,EFGD%
0,Indiana,B10,36,29,121.0,89.7,0.9692,54.7,44.0,19.3,...,40.3,30.4,67.8,7.8,S16,1.0,NaN,NaN,NaN,NaN
1,Gonzaga,WCC,34,31,118.9,90.2,0.9599,54.9,44.9,17.2,...,36.5,32.9,65.1,7.6,R32,1.0,NaN,NaN,NaN,NaN
2,Kansas,B12,37,31,111.6,86.2,0.9514,53.3,41.5,20.3,...,36.4,30.3,67.7,7.5,S16,1.0,NaN,NaN,NaN,NaN
3,Louisville,BE,40,35,115.9,84.5,0.9743,50.6,44.8,18.3,...,33.3,31.8,67.1,9.0,Champions,1.0,NaN,NaN,NaN,NaN
4,Georgetown,BE,32,25,107.6,85.0,0.9381,51.1,43.0,20.1,...,35.3,30.7,62.5,6.6,R64,2.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,Stonehill,NEC,30,4,90.3,114.2,0.0629,NaN,NaN,19.5,...,30.1,35.9,68.1,-22.0,NaN,NaN,358.0,NaN,46.7,52.7
358,St. Francis PA,NEC,28,8,93.1,118.1,0.0608,NaN,NaN,21.2,...,33.2,35.4,65.4,-18.6,NaN,NaN,359.0,NaN,47.2,53.0
359,IUPUI,Horz,29,6,92.1,116.9,0.0607,NaN,NaN,21.3,...,24.7,38.0,67.3,-21.6,NaN,NaN,360.0,NaN,46.5,58.2
360,Coppin St.,MEAC,29,2,85.1,111.1,0.0445,NaN,NaN,22.9,...,28.3,34.5,66.3,-22.9,NaN,NaN,361.0,NaN,42.1,51.3
361,Mississippi Valley St.,SWAC,31,1,85.4,116.2,0.0283,NaN,NaN,24.0,...,29.2,37.0,64.5,-22.7,NaN,NaN,362.0,NaN,42.5,55.6