In [ ]:
import pandas as pd

In [5]:
# Because the tables are seperated by year, I must combine them for analysis
pd.concat()

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED
0,Indiana,B10,36,29,121.0,89.7,0.9692,54.7,44.0,19.3,...,45.8,27.0,52.0,43.2,40.3,30.4,67.8,7.8,S16,1.0
1,Gonzaga,WCC,34,31,118.9,90.2,0.9599,54.9,44.9,17.2,...,40.8,29.9,55.0,42.1,36.5,32.9,65.1,7.6,R32,1.0
2,Kansas,B12,37,31,111.6,86.2,0.9514,53.3,41.5,20.3,...,39.5,32.0,52.9,39.3,36.4,30.3,67.7,7.5,S16,1.0
3,Louisville,BE,40,35,115.9,84.5,0.9743,50.6,44.8,18.3,...,40.0,34.9,50.8,43.4,33.3,31.8,67.1,9.0,Champions,1.0
4,Georgetown,BE,32,25,107.6,85.0,0.9381,51.1,43.0,20.1,...,36.8,35.3,50.2,41.4,35.3,30.7,62.5,6.6,R64,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,Prairie View A&M,SWAC,31,12,87.1,103.5,0.1209,41.3,46.9,21.6,...,32.6,43.7,42.0,46.9,26.0,31.3,67.0,-15.1,NaN,NaN
343,Buffalo,MAC,32,12,102.5,103.4,0.4761,50.4,47.2,23.7,...,38.5,36.8,50.0,46.1,34.2,33.2,65.4,-13.6,NaN,NaN
344,Louisiana Lafayette,SB,32,12,98.4,105.3,0.3135,48.6,48.8,19.6,...,35.1,43.3,46.9,47.2,34.5,34.9,70.2,-13.9,NaN,NaN
345,Bethune Cookman,MEAC,32,12,96.0,107.5,0.2134,45.9,51.0,18.4,...,39.0,46.8,45.6,50.9,31.0,34.1,65.9,-15.0,NaN,NaN
346,Troy,SB,33,12,97.3,107.5,0.2416,45.3,51.0,16.5,...,24.5,36.6,44.5,49.5,31.2,35.8,61.1,-16.6,NaN,NaN